body{
background: url("images/football-870283.jpg"); 
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}




.jumbotron{
    text-align: center;
    background: transparent;
    color: #D3D3D3;

}

.card{
    display: inline-block;
    background-color:#D3D3D3;
}

.card-style{
    display: inline-block;
    outline: 1px solid black;
}

