body{
background: url("images/football-870283.jpg"); 
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}


.card-style{
    display: inline-block;
    outline: 1px solid black;
}

