body{
background: url("images/football-870283.jpg"); 
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}

.roster-jumbo{
    background-color: rgba(0,0,0,.3);
    text-align: center;
    color: #F9F9F9;

}


.nfl-jumbo{
    text-align: center;
    background: transparent;
    color: #27408B;

}

.football-img{
    margin-bottom: 10px;
}

.card{
    display: inline-block;
    background-color: #F9F9F9;
}

.card-style{
    display: inline-block;
    outline: 1px solid black;
}

